[submodule "saleor"]
	path = saleor
	url = git@github.com:uomz/saleor-backend.git
[submodule "saleor-storefront"]
	path = saleor-storefront
	url = git@github.com:uomz/saleor-storefront.git
[submodule "saleor-dashboard"]
	path = saleor-dashboard
	url = git@github.com:uomz/saleor-dashboard.git
